# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# database (regenerated automatically on first run)
data.sqlite

# env files
.env*
!.env.example

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
